:root {
	/*https://coolors.co/01161e-124559-598392-aec3b0-eff6e0*/
	/* Colors */
	--accent: #4daacc;
	--background: #EFF6E0;
	--lightAccent: #598392;
	--lighterAccent: #aec3b0;
	--dark: #124559;
	--darker: #01161e;
	--slate: #2F3948;

	--white: #fff;
	--black: #152030;

	--ink: var(--slate);
	--paper: var(--background);

	/**
	 * These fonts are broken out into two separate variables from a previous iteration. I left
	 * it in because it's nice to be able to split out the heading and body fonts.
	 */
	--accentFont: 'Atkinson Hyperlegible', Georgia, Times, serif;
	--primaryFont: 'Atkinson Hyperlegible', sans-serif;
	--codeFont: 'Fira Code', monospace;
}
